name: Build, Push to ECR and Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag & Push Docker Image
        run: |
          IMAGE_URI="${{ secrets.ECR_REPO_URI }}:latest"
          docker build -t "$IMAGE_URI" .
          docker push "$IMAGE_URI"

  deploy_to_ec2:
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Save EC2 Private Key
        run: |
          echo "${{ secrets.SSH_KEY }}" > mykey.pem
          chmod 600 mykey.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i mykey.pem ubuntu@3.80.79.23 "
            aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.ECR_REPO_URI }} &&
            docker pull ${{ secrets.ECR_REPO_URI }}:latest &&
            docker stop mediplus || true &&
            docker rm mediplus || true &&
            docker run -d -p 80:80 --name mediplus ${{ secrets.ECR_REPO_URI }}:latest
          "

